<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <h1>All Chats</h1>
    <form method="GET"  action="/chats/new">
        <button class="new">New chat</button>
    </form>
    <%for(let chat of chats){%>
    <div>
      <div class="from">
        <p>From : <%=chat.from %></p>
      </div>
      <div class="msg">
        <p>Msg : <%=chat.msg %></p>
        <form method="GET" action="/chats/<%=chat._id %>/edit">
            <button>Edit</button>
        </form>
        <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
            <button>Delete</button>
        </form>
      </div>
      <p>Received By : <%=chat.to %></p>
   
    </div>
    <div>
        <p>Time : <%=chat.created_at.toString().split(" ")[4] %></p>
        <p>Time : <%=chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
        
    </div>
       <hr>
    <%}%>
  </body>
</html>
